.btn.rounded-circle {
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.head-shadow {
    text-shadow: 0 0 8px white
}

.app-navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1020;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /*background-color: rgba(255, 255, 255, 0.5);*/
  background-color: #152d5c72;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.navbar-brand {
  font-size: 1.3rem !important;
}

.nav-item a {
  font-size: 1rem;
  font-weight: bold;
}

div.wishlist-note {
  text-align: center;
  padding: 0.5rem;
  user-select: none;
}

div.wishlist-note>span {
  padding: 0.35em 0.65em;
  font-size: 0.6em;
  font-weight: 700;
  line-height: 1;
  color: black;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  border-radius: 50rem;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.779);
  border: 2px solid gray;
  cursor: pointer;
}

.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    list-style: none;
}
