{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block page_title %}Library{% endblock %}</title>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.2/js/bootstrap.min.js"
      integrity="sha512-HSNvqjhsAxRPvbSBEdXWlkR9uYmJtUvXEyfAvUzlA0uS5SyFZMZdczgz8oPWTz2NUEBaXkIYL4kdrBJkP66jYA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.2/css/bootstrap.min.css"
      integrity="sha512-SCpMC7NhtrwHpzwKlE1l6ks0rS+GbMJJpoQw/A742VaxdGcQKqVD8F/y/m9WLOfIPppy7mWIs/kS0bKgSI0Bfw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="{% static 'books/css/styles.css' %}" />
  </head>
  <body class="text-light" style="background-color: black;">
    <nav
      style="backdrop-filter: blur(8px); background-color: #34539256"
      class="px-3 py-2 mb-3 text-light sticky-top d-flex justify-content-between"
    >
      <a href="/" class="btn text-light"><span class="h4">Library</span></a>
      <a href="/books/create" class="btn btn-success"
        ><span class="h4">Add Book</span></a
      >
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
